<div class="main">
    <div class="header">
        <div class="header-left">
            <button *ngIf="router.url != '/'" pButton type="button" class="btn-header" routerLink="/">
                <i class="pi pi-bars"></i>
            </button>
        </div>
        <div class="header-center">
            <div class="header-link-item" routerLink="/" *ngIf="router.url != '/'">
                <img class="header-link-img" src="./logo.svg"/>
            </div>
        </div>
        <div class="header-right">
            <div class="header-link-item" (click)="goToLink('fit')">
                <img class="header-link-img" src="./FIT.png"/>
            </div>
            <div class="header-link-item" (click)="goToLink('brno')">
                <img class="header-link-img" src="./brno.png"/>
            </div>
            <div class="header-link-item" (click)="changeLang()">
                <img class="header-link-img header-lang-item" [src]="'http://purecatamphetamine.github.io/country-flag-icons/3x2/' + selectedLang.flag + '.svg'"/>
            </div>
        </div>
    </div>
    <div class="messagesElem">
        <p-toast />
    </div>
    <!-- Loading screen -->
    <div *ngIf="loadingElemVisibility" class="loadingElemBackground"></div>
    <div *ngIf="loadingElemVisibility" class="loadingElem">
        <div class="loadingElemContext">
            <div class="loadingElemCircleDiv">
                <p-progressSpinner class="loadingElemCircle"/>
                <span class="loadingElemCircleText">{{ loadingElemPercentage }}</span>
            </div>
            <span class="loadingElemMainText">{{ 'UIMessagesService.loading' | translate }}</span>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>