/db-postgis-data
/db-stats-data
/db-cache-data
/backend/node_modules
/backend/backups
/backend/gtfs.zip
/backend/planner/data/processed_population_data.geojson
/frontend/node_modules
/frontend/.angular
/env/.env