services:
  lissy-proxy-server:
    container_name: lissy-proxy-server
    image: nginx:1.19
    depends_on:
      lissy-db-postgis:
        condition: service_healthy
      lissy-db-stats:
        condition: service_healthy
      lissy-fe:
        condition: service_healthy
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      - lissy-network
  lissy-fe:
    container_name: lissy-fe
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    depends_on:
      lissy-db-postgis:
        condition: service_healthy
      lissy-db-stats:
        condition: service_healthy
    environment:
      TZ: "Europe/Bratislava"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 3s
        max_attempts: 3
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    healthcheck:
      test: ["CMD", "curl", "--silent", "--fail", "http://lissy-fe/"]
      interval: 5m
      retries: 3
      start_period: 30s
      timeout: 5s
    networks:
      - lissy-network
  lissy-be-processing:
    container_name: lissy-be-processing
    build:
      context: ./
      dockerfile: ./backend/Dockerfile-be-processing
    depends_on:
      lissy-db-postgis:
        condition: service_healthy
      lissy-db-stats:
        condition: service_healthy
    environment:
      TZ: "Europe/Bratislava"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 3s
        max_attempts: 3
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    networks:
      - lissy-network
  lissy-be-api:
    container_name: lissy-be-api
    build:
      context: ./
      dockerfile: ./backend/Dockerfile-be-api
    depends_on:
      lissy-db-postgis:
        condition: service_healthy
      lissy-db-stats:
        condition: service_healthy
    environment:
      TZ: "Europe/Bratislava"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 3s
        max_attempts: 3
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    networks:
      - lissy-network
  lissy-db-postgis:
    container_name: lissy-db-postgis
    image: postgis/postgis:16-master
    volumes:
      - ./env/db-postgis-init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./db-postgis-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_POSTGIS_USER}
      POSTGRES_PASSWORD: ${DB_POSTGIS_PASSWORD}
      POSTGRES_DB: ${DB_POSTGIS_DATABASE}
      PGPORT: 5432
      PGUSER: ${DB_POSTGIS_USER}
      TZ: "Europe/Bratislava"
    deploy:
      restart_policy:
        condition: on-failure
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${DB_POSTGIS_DATABASE} -U ${DB_POSTGIS_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - lissy-network
  lissy-db-stats:
    container_name: lissy-db-stats
    image: influxdb:2.7
    volumes:
      - ./db-stats-data/data/:/var/lib/influxdb2
      - ./db-stats-data/config/:/var/lib/influxdb2
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: ${DB_STATS_USER}
      DOCKER_INFLUXDB_INIT_PASSWORD: ${DB_STATS_PASSWORD}
      DOCKER_INFLUXDB_INIT_ORG: ${DB_STATS_ORG}
      DOCKER_INFLUXDB_INIT_BUCKET: ${DB_STATS_BUCKET}
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${DB_STATS_TOKEN}
      INFLUXDB_BIND_ADDRESS: 0.0.0.0:8088
      TZ: "Europe/Bratislava"
    deploy:
      restart_policy:
        condition: on-failure
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    healthcheck:
      test: influx ping
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - lissy-network
  lissy-db-cache:
    container_name: lissy-db-cache
    image: redis:7.4.2
    restart: always
    command: redis-server --save 20 1 --loglevel warning --requirepass ${DB_CACHE_TOKEN}
    volumes: 
      - ./db-cache-data:/data
    healthcheck:
      test: redis-cli --raw incr ping
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - lissy-network
networks:
  lissy-network:
    name: lissy-network