<!--
File: itinerary.component.html
Author: Adam Vcelar (xvcelaa00@stud.fit.vut.cz)

Main component HTML template file for the itinerary used in the planner module.
-->

<!-- Show itinerary only if trip options are currently defined and stored -->
@if (tripOptions() !== null) {
  <div class="itinerary">

    <!-- Itinerary header -->
    <div class="header">

      <!-- Back button to hide option detail -->
      @if (optionDetailActive) {
        <img 
          class="back-btn" 
          src="./planner/chevron.svg" 
          (click)="backButtonClicked()" 
        />
      }

      <span class="title">{{ "planner.itinerary.title" | translate }}</span>

      <!-- Button to clear itinerary -->
      <img 
        class="trashbin-btn" 
        src="./planner/trash-bin-dark.svg" 
        (click)="clearItinerary.emit()" 
        [title]="'planner.itinerary.clearItinerary' | translate" 
      />
    </div>

    <!-- PrimeNG accordion with the found options -->
    <ng-scrollbar class="scrollbox" [visibility]="'hover'" [appearance]="'compact'" [orientation]="'vertical'">
      <p-accordion expandIcon="none" collapseIcon="none" [(value)]="accordionOptionValue">
        @for (option of tripOptions(); track $index) {

          <!-- If the detail of an option is being shown or the itinerary is in compact view mode, show only the currently selected option -->
          @if ((optionDetailActive || showCompactView) ? (selectedOptionIdx === $index) : true) {

            <!-- Option panel with header and content -->
            <p-accordion-panel [value]="$index" class="p-accordion-panel">

              <!-- Option header containing start and end times, distance, duration and a timeline -->
              <p-accordion-header class="p-accordion-header" [class.option-selected]="selectedOptionIdx === $index" (click)="changeTripOption($index)">
                
                <!-- Timeline and start,end times -->
                <div class="accorion-header-timeline">
                  <span>{{ option.startDatetime | date: "HH:mm" }}</span>
                  <div class="timeline">
                    @for(section of option.sections; track $index; let lastSection = $last) {
                      @for(leg of section.legs; track $index; let lastLeg = $last) {
                        <div 
                          class="timeline-segment"
                          [style.background]="getLegColor(leg)" 
                          [style.flex]="leg.distance" 
                          [class.dashed]="leg.mode === 'CAR' || leg.mode === 'WALK'"
                        >

                          <!-- Circle with mode image -->
                          <!-- Dont show for walking legs that are less than 10% of the trip (most likely a tranfer, access, egress) -->
                          @if (leg.mode !== "WALK" || (leg.distance / option.distance >= 0.1)) {
                            <div class="mode-circle" [title]="`planner.itinerary.${leg.mode.toLowerCase()}` | translate">
                              <img 
                                class="mode-img"
                                [src]="`./planner/${leg.mode.toLowerCase()}-dark.svg`" 
                              />
                            </div>
                            <div 
                              class="line-label"
                              [style.background]="getLegColor(leg)"
                              [style.color]="getLegTextColor(leg)"
                            >
                              @if (leg.route?.lineId) {
                                <span>{{ leg.route?.lineId }}</span>
                              } 
                            </div>
                          }

                          @if (lastLeg && !lastSection) {
                            <div class="midpoint-circle" [title]="`planner.itinerary.${leg.mode.toLowerCase()}` | translate"></div>
                          }
                        </div>  
                      }
                    }
                  </div>
                  <span>{{ option.endDatetime | date: "HH:mm" }}</span>
                </div>

                <!-- Distance and duration of option -->
                <div class="accorion-header-distance-duration">
                  <span class="accordion-header-info"><i class="pi pi-stopwatch"></i>{{ option.duration | duration }}</span>
                  @if(option.hasFullShape) {
                    <span class="accordion-header-info"><i class="pi pi-wave-pulse"></i>{{ option.distance | distance }}</span>
                  }
                  <span class="accordion-header-info"><i class="pi pi-arrows-h"></i>{{ option.numTransfers }}</span>
                  <span class="accordion-header-info"><i class="pi pi-wallet"></i>{{ `${option.cost | number:'1.0-0'} Kč` }}</span>
                </div>
              </p-accordion-header>

              <!-- Option content with detail -->
              <p-accordion-content class="p-accordion-content">
                <div class="trip-detail-main">
                  <span class="faint-text">{{ option.startDatetime | date: "d. M. yyyy" }}</span>
                  @for (section of option.sections; track $index; let firstSection = $first; let lastSection = $last; let sectionCount = $count; let sectionIdx = $index) {
                    @for (leg of section.legs; track $index; let firstLeg = $first; let lastLeg = $last; let legCount = $count) {

                      <!-- Origin point with departure time -->
                      @if (firstSection && firstLeg) {
                        <div class="box point-box-start">
                          <span class="point-title">{{ section.originName ?? "planner.itinerary.origin" | translate }}</span>
                          <span class="base-text">{{ `${"planner.itinerary.departure" | translate}${section.startDatetime | date: " HH:mm"}` }}</span>
                        </div>
                      }

                      <!-- Legs between two points -->
                      <!-- Do not show boxes for walking lex that are access/egress/transfers walks -->
                      @if (leg.mode !== "WALK" || legCount === 1) {
                        <div class="box leg-box" [style.borderLeft]="`4px ${leg.mode === 'WALK' || leg.mode === 'CAR' ? 'dashed' : 'solid'} ${getLegColor(leg)}`">
                          <div class="leg-box-left">

                            <!-- Mode used for the leg and possibly the route identifier if its defined -->
                            <div class="leg-mode-box">
                              <img class="detail-mode-img" [src]="`./planner/${leg.mode.toLowerCase()}-white.svg`" >
                              <div 
                                class="line-label line-label-detail"
                                [style.background]="getLegColor(leg)"
                                [style.color]="getLegTextColor(leg)"
                              >
                                @if (leg.route?.lineId) {
                                  <span>{{ leg.route?.lineId }}</span>
                                } 
                              </div>
                            </div>

                            <!-- Origin and destination of leg names -->
                            <div class="two-column-text two-column-text-left">
                              <span class="leg-text">
                                {{ leg.from.placeName ?? "planner.itinerary.legOrigin" | translate }}
                                @if (leg.from.isParking) {
                                  <img [src]="'./planner/parking.svg'" class="parking-icon" [title]="'planner.itinerary.parkingSpot' | translate">
                                }
                              </span>
                              <span class="leg-text">
                                {{ leg.to.placeName ?? "planner.itinerary.legDestination" | translate }}
                                @if (leg.to.isParking) {
                                  <img [src]="'./planner/parking.svg'" class="parking-icon" [title]="'planner.itinerary.parkingSpot' | translate">
                                }
                              </span>
                            </div>
                          </div>

                          <!-- For transit - departure time and arrival time of leg, for direct (walk | car) - distance and duration of leg -->
                          <div class="two-column-text">
                            <span class="base-text">{{ leg.mode === "CAR" || leg.mode === "WALK" ? (leg.distance | distance) : leg.from.departureTime | date: "HH:mm" }}</span>
                            <span class="base-text">{{ leg.mode === "CAR" || leg.mode === "WALK" ? (leg.duration | duration) : leg.to.arrivalTime | date: "HH:mm" }}</span>
                          </div>
                        </div>
                      }

                      <!-- Access/egress/transfer walking leg with duration -->
                      @else {
                        <div class="faint-text">
                          <img class="transfer-walk-img" [src]="'./planner/walk-light.svg'" alt="">
                          <span>{{ leg.duration | duration }}</span>
                        </div>
                      }

                      <!-- Midpoint with departure and arrival time -->
                      @if (!lastSection && lastLeg && sectionCount > 1) {
                        <div class="box point-box-mid">
                          <span class="point-title">{{ section.destinationName ?? `${"planner.itinerary.midpoint" | translate} ${sectionIdx + 1}` }}</span>
                          <div class="two-column-text">
                            <span class="base-text">{{ `${"planner.itinerary.arrival" | translate}${section.endDatetime | date: " HH:mm"}` }}</span>
                            <span class="base-text">{{ `${"planner.itinerary.departure" | translate}${option.sections[sectionIdx+1].startDatetime | date: " HH:mm"}` }}</span>
                          </div>
                        </div>
                      }

                      <!-- Destination point with arrival time -->
                      @if (lastSection && lastLeg) {
                        <div class="box point-box-end">
                          <span class="point-title">{{ section.destinationName ?? "planner.itinerary.destination" | translate }}</span>
                          <span class="base-text">{{ `${"planner.itinerary.arrival" | translate}${section.endDatetime | date: " HH:mm"}` }}</span>
                        </div>
                      }
                    }
                  }
                </div>

                <!-- Export button -->
                <div class="export-div">
                  <button class="export-btn" (click)="exportTrip(option)">
                    <img class="export-img" [src]="'./planner/export.svg'">
                    {{ "planner.itinerary.export" | translate }}
                  </button>
                </div>
              </p-accordion-content>
            </p-accordion-panel>
          }
        }
      </p-accordion>
    </ng-scrollbar>
  </div>
}