/*
 * File: itinerary.component.css
 * Author: Adam Vcelar (xvcelaa00@stud.fit.vut.cz)
 *
 * CSS styles file for the itinerary component used in the planner.
 */

/* Main itinerary div and sections ********************/
.itinerary {
    width: 100%;
    border: 0.15em solid var(--p-gray-800);
    display: flex;
    flex-direction: column;
    max-height: 75vh; 
}

.form-section {
    background: linear-gradient(var(--p-gray-800), var(--p-gray-800)) top center / 96% 0.15em no-repeat, var(--background);
}
/**************************************************/

/* Itinerary header *****************************/
.trashbin-btn {
    height: 23px;
    cursor: pointer;
    position: absolute;
    right: 15px;
}

.header {
    background-color: var(--p-gray-800);
    height: 40px;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    padding-bottom: 2px;
}

.back-btn {
    height: 40px;
    transform: rotate(90deg);
    cursor: pointer;
    position: absolute;
}

.title {
    color: var(--p-gray-50);
    margin-left: auto;
    margin-right: auto;
    font-weight: 550;
    font-size: medium;
}
/**************************************************/

/* Sort select ************************************/
.sort-div {
    background-color: var(--p-gray-800);
    display: flex;
    align-items: center;
    padding: 3px 40px;
    gap: 10px;
    height: 35px;
    min-height: 35px;
}

.sort-div[hidden] {
  display: none !important;
}

.sort-select {
    flex: 1;
    height: 100%;
}

::ng-deep .sort-select .p-select-label {
    font-size: 14px;
    padding: 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
::ng-deep .sort-select .p-select-option {
    font-size: 13px;
    padding: 5px 15px;
}

.sort-label {
    font-size: 14px;
}
/**************************************************/

/* List of found trip options in accordion *********/
.trip-options {
    display: flex;
    padding: 8px;
    gap: 8px;
    justify-content: center;
}

.option-button {
    width: 118px;
    font-size: 17px;
    border: 2px solid color-mix(in srgb, var(--p-gray-50) 50%, transparent);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 16px;
    gap: 3px;
}

.option-distance-duration {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.p-accordion-header {
    border-radius: 0 !important;
    background-color: var(--background);
    padding: 10px;
    padding-top: 0;
    color: color-mix(in srgb, var(--p-gray-50) 50%, transparent);
    --p-accordion-header-active-background: var(--background);
    --p-accordion-header-active-color: var(--p-gray-300);
}

.p-accordion-content {
    --p-accordion-content-background: var(--background);
    --p-accordion-content-padding: 0;
    border-top: 2px solid var(--p-gray-800);
}

@media (hover: none) and (pointer: coarse) {
    .p-accordion-header {
        --p-accordion-header-hover-color: var(--p-gray-300);
        --p-accordion-header-active-hover-color: var(--p-gray-300);
    }
}

.option-selected {
    border-left: 7px solid var(--p-gray-600) !important;
    color: var(--p-gray-300);
}

.scrollbox {
    overflow-y: auto;
    --scrollbar-track-color: transparent;
    --scrollbar-thumb-color: var(--p-gray-600);
    --scrollbar-thumb-size: 80;
    --scrollbar-track-shape: 10px;
    --scrollbar-track-thickness: 8px;
    --scrollbar-container-offset: 0px;
    --scrollbar-thumb-hover-color: var(--p-gray-500);
    --scrollbar-hover-opacity-transition-leave-delay: 0s;
}

.p-accordion-panel {
    border-bottom: 0;
}

.p-accordion-header:hover {
    background-color: var(--background) !important;
}

.trip-detail-main {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
}

.box {
    background-color: var(--p-gray-800);
    border-radius: 6px;
    color: var(--p-gray-300);
    padding: 0 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
}

.point-box-start {
    border-left: 6px solid green;
}

.point-box-mid {
    border-left: 6px solid yellow;
}

.point-box-end {
    border-left: 6px solid red;
}

.point-title {
    font-weight: 600;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 223px;
    color: var(--p-gray-300);
}

.two-column-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: right;
}

.two-column-text-left {
    text-align: left;
}

.base-text {
    font-size: 12px;
}

.leg-box {
    margin: 0 10px;
    color: var(--p-gray-300);
}

.detail-mode-img {
    height: 20px;
}

.leg-mode-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.line-label-detail {
    margin: 0;
    position: relative;
    font-weight: 600;
    font-size: 11px;
    border-radius: 5px;
}

.transfer-walk-img {
    height: 14px;
}

.faint-text {
    display: flex;
    align-items: center;
    gap: 5px;
    color: color-mix(in srgb, var(--p-gray-50) 50%, transparent);
    font-size: 13px;
    width: 100%;
    justify-content: center;
}

.leg-box-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.leg-text {
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    display: flex;
    align-items: center;
    gap: 2px;
}

button {
    cursor: pointer;
}

.export-div {
    background: linear-gradient(var(--p-gray-800), var(--p-gray-800)) top center / 96% 0.15em no-repeat, var(--background);
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.export-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 17px;
}

.export-img {
    height: 20px;
}

.parking-icon {
    width: 11px;
}

.divider {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background: currentColor;
}

.show-return-trip {
    background-color: var(--p-gray-800);
    font-size: 12px;
    padding: 3px;
    padding-left: 5px;
    font-weight: bold;
    display: flex;
    gap: 5px;
    opacity: 1;
}

.show-return-trip[hidden] {
    display: none;
}

.return-trip-header {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: column;
}
/**************************************************/

/* Classes used only on mobile view elements *******/
.trip-detail-mobile-btn {
    background-color: var(--p-gray-800);
    font-size: 15px;
    padding: 4px 8px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--p-gray-300);
}

.trip-detail-mobile-extras {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--p-gray-800);
}
/*************************************************/

/* Mobile view style overrides ********************/
@media only screen and (max-width: 700px) {
  .itinerary {
    max-height: 100%;
    height: calc(100vh - 3em);
    overflow-y: auto;
    border: 0;
    background: var(--background);
  }

  .header {
    padding: 0;
  }

  :host {
    height: 100%;
  }
}
/**************************************************/