/*
 * File: itinerary.component.css
 * Author: Adam Vcelar (xvcelaa00@stud.fit.vut.cz)
 *
 * CSS styles file for the itinerary component used in the planner.
 */

/* Main itinerary div and sections ********************/
.itinerary {
    position: absolute;
    width: 370px;
    left: 78px;
    z-index: 500;
    border: 0.15em solid var(--p-gray-800);
    display: flex;
    flex-direction: column;
    max-height: 60vh; 
    bottom: 30px;
}

.form-section {
    background: linear-gradient(var(--p-gray-800), var(--p-gray-800)) top center / 96% 0.15em no-repeat, var(--background);
}
/**************************************************/

/* Itinerary header *****************************/
.trashbin-btn {
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 7px;
}

.header {
    background-color: var(--p-gray-800);
    height: 50px;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    padding-bottom: 2px;
}

.back-btn {
    height: 45px;
    transform: rotate(90deg);
    cursor: pointer;
    position: absolute;
}

.title {
    color: var(--p-gray-50);
    margin-left: auto;
    margin-right: auto;
    font-weight: 550;
    font-size: large;
}
/**************************************************/

/* List of found trip options in accordion *********/
.trip-options {
    display: flex;
    padding: 8px;
    gap: 8px;
    justify-content: center;
}

.option-button {
    width: 118px;
    font-size: 17px;
    border: 2px solid color-mix(in srgb, var(--p-gray-50) 50%, transparent);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 16px;
    gap: 3px;
}

.option-selected {
    background-color: var(--p-gray-50);
    color: var(--background);
    opacity: 1;
    border-color: var(--p-gray-50);    
}

.option-selected:hover {
    opacity: 0.6;
}

.option-distance-duration {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.p-accordion-header {
    border-radius: 0 !important;
    background-color: var(--background);
    color: color-mix(in srgb, var(--p-gray-50) 50%, transparent);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.option-selected {
    border-left: 7px solid var(--p-gray-50) !important;
}

.accorion-header-timeline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 23px;
    gap: 10px;
    align-items: center;
}

.accorion-header-distance-duration {
    display: flex;
    gap: 50px;
}

.p-accordion {
    overflow-y: auto;
}

.p-accordion-panel {
    border-bottom: 1px solid var(--p-gray-800);
}

.p-accordion-header:hover {
    background-color: var(--background) !important;
}

.timeline {
    width: 100%;
    display: flex;
    height: 4px;
}

.dashed {
    position: relative;
    
}

.dashed::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background-color: var(--background);
    mask-image: repeating-linear-gradient(
        to right,
        black 0px,
        black 3px,
        transparent 3px,
        transparent 6px
    );
    z-index: 1;
}

.accordion-header-info {
    display: flex;
    gap: 5px;
}

.timeline-segment {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10px;
}

.mode-circle {
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 11px;
    border: 1px solid black;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode-img {
    height: 12px;
}

.line-label {
    background-color: white;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    margin-top: 42px;
}

.line-label span {
    padding: 1px;
}
/**************************************************/