<main class="main" *ngIf="config.enabled">
  <!-- Side menu -->
  <div class="side-control">
    <div [ngClass]="isCalendarModuleActive ? 'side-btn-div side-btn-div-active' : 'side-btn-div'">
      <button pButton type="button" [ngClass]="isCalendarModuleActive ? 'btn-side-menu btn-side-menu-active' : 'btn-side-menu'"
        (click)="switchCalendarModuleVisibility()">
        <i class="pi pi-calendar"></i>
      </button>
    </div>
  </div>
  <!-- Module content -->
  <div class="content">
    <!-- Calendar -->
    <div class="side-control-content" *ngIf="isCalendarModuleActive">
      <p-calendar class="calendar" [(ngModel)]="hooverDates" [inline]="true" selectionMode="multiple"
        [firstDayOfWeek]="1" [minDate]="startDate" [maxDate]="endDate" [disabledDates]="disabledDates">
        <ng-template pTemplate="footer">
          <div class="calendar-btns-div">
            <button *ngIf="isTodayFunctionEnabled" pButton type="button" class="p-link p-datepicker-month" (click)="setToday()">Dnes</button>
            <button pButton type="button" class="p-link p-datepicker-month" (click)="renderData()" [disabled]="hooverDates == null">Načíst Data</button>
          </div>
        </ng-template>
      </p-calendar>
    </div>
    <!-- Graphs -->
    <div class="content-graphs">
      <h2>{{ 'stats.systemStateHead' | translate }}</h2>
      <p>{{ 'stats.systemStateInfo' | translate }}</p>
      <div class="content-graphs-cells">
        <div>
          <h4>{{'stats.systemStateRoutes' | translate }}</h4>
          <p-chart type="bar" [data]="systemState[0]" [options]="graphOptions"/>
        </div>
        <div>
          <h4>{{'stats.systemStateTrips' | translate }}</h4>
          <p-chart type="bar" [data]="systemState[3]" [options]="graphOptions"/>
        </div>
        <div>
          <h4>{{'stats.systemStateStops' | translate }}</h4>
          <p-chart type="bar" [data]="systemState[2]" [options]="graphOptions"/>
        </div>
        <div>
          <h4>{{'stats.systemStateShapes' | translate }}</h4>
          <p-chart type="bar" [data]="systemState[1]" [options]="graphOptions"/>
        </div>
      </div>
      <div>
        <h4>{{'stats.systemStateShapes' | translate }}</h4>
        <p></p>
        <p-chart type="line" [data]="systemStateProcessingTime" [options]="graphTimeOptions"/>
      </div>
    </div>
  </div>
</main>
