:host::ng-deep.p-disabled {
    opacity: 0.5 !important;
    color: var(--gray-500) !important;
}

:host::ng-deep.p-calendar {
    width: 26em;
    height: 29em;
}

:host::ng-deep.p-datepicker {
    background-color: var(--background);
    border: 0.15em solid var(--gray-800);
    border-radius: 0.5em;
    color: var(--gray-50);
}

:host::ng-deep.p-datepicker-header {
    background-color: var(--background);
    border-bottom: 0.15em solid var(--gray-800);
}

:host::ng-deep.p-datepicker table td.p-datepicker-today > span {
    color: var(--gray-50);
    background-color: var(--background);
    transition: .5s;
    border: 0.15em solid var(--gray-50);
}

:host::ng-deep.p-datepicker table td.p-datepicker-today > span:hover {
    transition: .5s;
    color: var(--background);
    background-color: var(--gray-50);
}

:host::ng-deep.p-datepicker table td > span {
    transition: .5s;
}

:host::ng-deep.p-datepicker table td > span:hover {
    transition: .5s;
    color: var(--background);
}

:host::ng-deep.p-datepicker table td > span.p-highlight {
    color: var(--background);
    background-color: var(--gray-50);
}

:host::ng-deep.p-datepicker-decade {
    color: var(--gray-50);
}

:host::ng-deep.p-yearpicker-year, :host::ng-deep.p-monthpicker-month {
    transition: .5s;
}

:host::ng-deep.p-yearpicker-year:hover, :host::ng-deep.p-monthpicker-month:hover {
    color: var(--background);
    transition: .5s;
}

:host::ng-deep.p-highlight {
    border: 0.15em solid var(--gray-50);
    background-color: transparent;
    color: var(--gray-50);
}

:host::ng-deep.p-datepicker-year, :host::ng-deep.p-datepicker-month {
    transition: .5s;
    color: var(--gray-50);
    font-weight: 600;
    padding: 0.5rem;
}

:host::ng-deep.p-datepicker-year:hover, :host::ng-deep.p-datepicker-month:hover, :host::ng-deep.p-highlight:hover {
    color: var(--background);
    transition: .5s;
    background-color: var(--gray-50);
}

.calendar-btns-div {
    display: flex;
    justify-content: space-around;
    border-top: 0.15em solid var(--gray-800);
    padding-top: 0.5em;
}

.content-graphs {
    color: var(--gray-50);
    margin: 0 2em;
}

.content-graphs-cells {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}