.delay-category-row {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.3fr 0.1fr;
}

.delay-category-row-header {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.3fr 0.1fr;
    background-color: var(--p-gray-800);
    font-weight: bold;
}

.delay-category-text {
    margin: auto;
}

:host::ng-deep.delay-category-btn {
    margin: auto;
    height: 60%;
    border: none !important;
}

:host::ng-deep.delay-category-btn:hover {
    background-color: transparent;
}

:host::ng-deep.delay-category-number {
    width: 100%;
    height: 80%;
    margin: auto;
    border-radius: var(--p-select-border-radius);
}

:host::ng-deep.delay-category-number:focus {
    border-color: var(--p-gray-50);
}

.delay-category-color {
    margin: auto;
}

.delay-category-btns-div {
    display: flex;
    justify-content: space-around;
}

.content-graphs {
    color: var(--p-gray-50);
    padding: 0 2em;
    width: 100%;
    max-width: calc(100vw - 5em);
}

@media only screen and (max-width: 700px) {
    .content-graphs {
        max-width: 100vw;
        width: 100vw;
        padding: 0 1em;
        padding-bottom: 3.5em;
    }
}