.delay-category-row {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.3fr 0.1fr;
}

.delay-category-row-header {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.3fr 0.1fr;
    background-color: var(--gray-800);
    font-weight: bold;
}

.delay-category-text {
    margin: auto;
}

:host::ng-deep.delay-category-btn {
    margin: auto;
    height: 60%;
}

:host::ng-deep.delay-category-number {
    width: 100%;
    height: 60%;
    margin: auto;
}

.delay-category-color {
    margin: auto;
}

.delay-category-btns-div {
    display: flex;
}