.calendar-btns-div {
    display: flex;
    justify-content: space-around;
    border-top: 0.15em solid var(--gray-800);
    padding-top: 0.5em;
}

.content {
    color: var(--gray-50);
    width: 100%;
    height: calc(100vh - 3.5em);
}