<div class="form">
  
  <!-- Form header -->
  <div class="header">

    <!-- Form collapse button -->
    <img
      class="collapse-btn"
      src="./planner/chevron.svg"
      (click)="this.formCollapsed = !this.formCollapsed"
      [style.transform]="formCollapsed ? 'rotate(180deg)' : 'rotate(0deg)'"
    />
    <span class="title">{{ "planner.form.title" | translate }}</span>
    <button 
      (click)="locationClicked()"
      [class.blinking]="locationStatus === 'searching'"
      [class.location-found]="locationStatus === 'enabled'"
    >
      <img
        class="location-btn"
        src="./planner/location.svg"
      />
      @if (locationStatus === "disabled") {
        <img
          class="location-disabled"
          src="./planner/cross-line.svg"
        />
      }
    </button>
  </div>

  <!-- Form content -->
  @if (!formCollapsed) {
    
    <!-- Mode select section -->
    <div class="mode-select form-section">
      <fieldset class="mode-select-window">
        <legend class="mode-select-legend">
          {{ "planner.form.modeSelect" | translate }}
        </legend>

        <!-- Public transport mode select -->
        <button
          class="mode-button"
          [class.mode-selected]="tripData.selectedModesGlobal.publicTransport"
          (click)="modeToggled('publicTransport')"
        >
          <img
            [src]="
              tripData.selectedModesGlobal.publicTransport
                ? './planner/pt-dark.svg'
                : './planner/pt-light.svg'
            "
            class="mode-img"
          />
          {{ "planner.form.publicTransport" | translate }}
        </button>

        <!-- Car mode select -->
        <button
          class="mode-button"
          [class.mode-selected]="tripData.selectedModesGlobal.car"
          (click)="modeToggled('car')"
        >
          <img
            [src]="
              tripData.selectedModesGlobal.car
                ? './planner/car-dark.svg'
                : './planner/car-light.svg'
            "
            class="mode-img"
          />
          {{ "planner.form.car" | translate }}
        </button>

        <!-- Walk mode select -->
        <button
          class="mode-button"
          [class.mode-selected]="tripData.selectedModesGlobal.walk"
          (click)="modeToggled('walk')"
        >
          <img
            [src]="
              tripData.selectedModesGlobal.walk
                ? './planner/walk-dark.svg'
                : './planner/walk-light.svg'
            "
            class="mode-img"
          />
          {{ "planner.form.walk" | translate }}
        </button>
      </fieldset>
    </div>

    <!-- Route points -->
    <div class="trip-points form-section" (cdkDropListDropped)="pointDropped($event)" cdkDropListLockAxis="y" cdkDropList>

      <!-- Origin point -->
      <div class="trip-point" cdkDrag>
        <img [src]="'./planner/drag-chevron.svg'" class="point-drag" cdkDragHandle />
        <div class="point-input-wrapper">
          <input
            type="text"
            id="start-point"
            [placeholder]="'planner.form.startPoint' | translate"
            [value]="tripData.points[0]"
            (input)="tripData.points[0] = $any($event.target).value"
          />
          <div class="point-input-extra">
            <img
              [src]="'./planner/start-marker.svg'"
              class="point-input-pointer"
              [title]="'planner.form.markerTooltip' | translate"
              (click)="markerClick.emit('start')"
            />
          </div>
        </div>
      </div>

      <!-- Origin point Drag and Drop preview -->
      <div class="trip-point" *cdkDragPreview>
        <img [src]="'./planner/drag-chevron.svg'" class="point-drag" cdkDragHandle />
        <div class="point-input-wrapper">
          <input
            type="text"
            [placeholder]="'planner.form.startPoint' | translate"
            [value]="tripData.points[0]"
          />
          <div class="point-input-extra">
            <img
              [src]="'./planner/current-location.svg'"
              class="point-input-pointer"
            />
            <img
              [src]="'./planner/start-marker.svg'"
              class="point-input-pointer"
              [title]="'planner.form.markerTooltip' | translate"
            />
          </div>
        </div>
      </div>

      <!-- Button to add midpoint -->
      <div class="midpoint-options-wrapper">
        <button
          class="circle-button"
          (click)="addMidpoint(1)"
          [title]="'planner.form.addMidpointTooltip' | translate"
        >
          +
        </button>

        <!-- Mode select under origin point if theres at least one midpoint -->
        @if(tripData.points.length > 2 && selectedModesCount > 1) {
          <fieldset class="midpoint-mode-select-window">
            <legend class="midpoint-mode-select-legend">
              {{ "Typ dopravy mezi body" }}
            </legend>

            <!-- Public transport mode select -->
            @if(tripData.selectedModesGlobal.publicTransport) {
              <button
                class="midpoint-mode-button"
                [class.mode-selected]="tripData.sectionModes[0].publicTransport"
                (click)="modeToggled('publicTransport', 0)"
              >
                <img
                  [src]="
                    tripData.sectionModes[0].publicTransport
                      ? './planner/pt-dark.svg'
                      : './planner/pt-light.svg'
                  "
                  class="midpoint-mode-img"
                />
              </button>
            }

            <!-- Car mode select -->
            @if(tripData.selectedModesGlobal.car) {
              <button
                class="midpoint-mode-button"
                [class.mode-selected]="tripData.sectionModes[0].car"
                (click)="modeToggled('car', 0)"
              >
                <img
                  [src]="
                    tripData.sectionModes[0].car
                      ? './planner/car-dark.svg'
                      : './planner/car-light.svg'
                  "
                  class="midpoint-mode-img"
                />
              </button>
            }

            <!-- Walk mode select -->
            @if(tripData.selectedModesGlobal.walk) {
              <button
                class="midpoint-mode-button"
                [class.mode-selected]="tripData.sectionModes[0].walk"
                (click)="modeToggled('walk', 0)"
              >
                <img
                  [src]="
                    tripData.sectionModes[0].walk
                      ? './planner/walk-dark.svg'
                      : './planner/walk-light.svg'
                  "
                  class="midpoint-mode-img"
                />
              </button>
            }
          </fieldset>
        }
      </div>

      <!-- Rendering added midpoints -->
      @for (point of tripData.points; track $index) {
        @if ($index !== 0 && $index !== tripData.points.length - 1) {

          <!-- Midpoint -->
          <div class="trip-point" cdkDrag>
            <img [src]="'./planner/drag-chevron.svg'" class="point-drag" cdkDragHandle />
            <div class="point-input-wrapper">
              <input
                type="text"
                [placeholder]="'planner.form.midpoint' | translate"
                [value]="tripData.points[$index]"
                (input)="tripData.points[$index] = $any($event.target).value"
              />
              <img
                (click)="markerClick.emit('midpoint')"
                [src]="'./planner/midpoint-marker.svg'"
                class="point-input-pointer point-input-extra"
                [title]="'planner.form.markerTooltip' | translate"
              />
            </div>

            <!-- Remove midpoint button -->
            <img
              [src]="'./planner/trash-bin.svg'"
              class="point-input-pointer remove-midpoint"
              (click)="removeMidpoint($index)"
              [title]="'planner.form.removeMidpointTooltip' | translate"
            />
          </div>

          <!-- Midpoint Drag and Drop preview -->
          <div class="trip-point" *cdkDragPreview>
            <img [src]="'./planner/drag-chevron.svg'" class="point-drag" cdkDragHandle />
            <div class="point-input-wrapper">
              <input
                type="text"
                [placeholder]="'planner.form.midpoint' | translate"
                [value]="tripData.points[$index]"
              />
              <img
                [src]="'./planner/midpoint-marker.svg'"
                class="point-input-pointer point-input-extra"
                [title]="'planner.form.markerTooltip' | translate"
              />
            </div>

            <!-- Remove midpoint button -->
            <img
              [src]="'./planner/trash-bin.svg'"
              class="point-input-pointer remove-midpoint"
              (click)="removeMidpoint($index)"
              [title]="'planner.form.removeMidpointTooltip' | translate"
            />
          </div>

          <!-- Add midpoint button and mode select between two points-->
          <div class="midpoint-options-wrapper">

            <!-- Add midpoint button -->
            <button
              class="circle-button"
              (click)="addMidpoint($index + 1)"
              [title]="'planner.form.addMidpointTooltip' | translate"
            >
              +
            </button>

            <!-- Mode select between adjacent points -->
            @if(selectedModesCount > 1) {
              <fieldset class="midpoint-mode-select-window">
                <legend class="midpoint-mode-select-legend">
                  {{ "Typ dopravy mezi body" }}
                </legend>

                <!-- Public transport mode select -->
                @if(tripData.selectedModesGlobal.publicTransport) {
                  <button
                    class="midpoint-mode-button"
                    [class.mode-selected]="tripData.sectionModes[$index].publicTransport"
                    (click)="modeToggled('publicTransport', $index)"
                  >
                    <img
                      [src]="
                        tripData.sectionModes[$index].publicTransport
                          ? './planner/pt-dark.svg'
                          : './planner/pt-light.svg'
                      "
                      class="midpoint-mode-img"
                    />
                  </button>
                }

                <!-- Car mode select -->
                @if(tripData.selectedModesGlobal.car) {
                  <button
                    class="midpoint-mode-button"
                    [class.mode-selected]="tripData.sectionModes[$index].car"
                    (click)="modeToggled('car', $index)"
                  >
                    <img
                      [src]="
                        tripData.sectionModes[$index].car
                          ? './planner/car-dark.svg'
                          : './planner/car-light.svg'
                      "
                      class="midpoint-mode-img"
                    />
                  </button>
                }

                <!-- Walk mode select -->
                @if(tripData.selectedModesGlobal.walk) {
                  <button
                    class="midpoint-mode-button"
                    [class.mode-selected]="tripData.sectionModes[$index].walk"
                    (click)="modeToggled('walk', $index)"
                  >
                    <img
                      [src]="
                        tripData.sectionModes[$index].walk
                          ? './planner/walk-dark.svg'
                          : './planner/walk-light.svg'
                      "
                      class="midpoint-mode-img"
                    />
                  </button>
                }
              </fieldset>
            }
          </div>
        }
      }

      <!-- Destination point -->
      <div class="trip-point" cdkDrag>
        <img [src]="'./planner/drag-chevron.svg'" class="point-drag" cdkDragHandle />
        <div class="point-input-wrapper">
          <input
            type="text"
            id="end-point"
            [placeholder]="'planner.form.endPoint' | translate"
            [value]="tripData.points[tripData.points.length - 1]"
            (input)="
              tripData.points[tripData.points.length - 1] = $any($event.target).value
            "
          />
          <img
            [src]="'./planner/end-marker.svg'"
            class="point-input-pointer point-input-extra"
            [title]="'planner.form.markerTooltip' | translate"
            (click)="markerClick.emit('end')"
          />
          </div>
      </div>

      <!-- Destination point drag and drop preview -->
      <div class="trip-point" *cdkDragPreview>
        <img [src]="'./planner/drag-chevron.svg'" class="point-drag" cdkDragHandle />
        <div class="point-input-wrapper">
          <input
            type="text"
            [placeholder]="'planner.form.endPoint' | translate"
            [value]="tripData.points[tripData.points.length - 1]"
          />
          <img
            [src]="'./planner/end-marker.svg'"
            class="point-input-pointer point-input-extra"
            [title]="'planner.form.markerTooltip' | translate"
          />
          </div>
      </div>
      <div class="last-point-btn">

        <!-- Add midpoint button -->
        <button
          class="circle-button"
          (click)="addMidpoint(tripData.points.length)"
          [title]="'planner.form.addMidpointTooltip' | translate"
        >
          +
        </button>

        <!-- Switch midpoint button -->
        <button
          class="circle-button"
          (click)="tripData.points.reverse()"
          [title]="'planner.form.switchDirectionTooltip' | translate"
        >
          <img [src]="'./planner/double-arrow.svg'" />
        </button>
      </div>
    </div>

    <!-- Date and time picker + return trip -->
    <div class="trip-timing form-section">

      <!-- Date and time picker -->
      <div class="datetime">
        <input type="date" id="dateInput" />
        <input type="time" id="timeInput" />
        <div>
          <div class="control-pair departure-radio">
            <input
              type="radio"
              id="departure"
              name="time-select"
              value="departure"
              checked
            />
            <label for="departure">{{
              "planner.form.departureTime" | translate
            }}</label
            ><br />
          </div>
          <div class="control-pair">
            <input
              type="radio"
              id="arrival"
              name="time-select"
              value="arrival"
            />
            <label for="arrival">{{
              "planner.form.arrivalTime" | translate
            }}</label
            ><br />
          </div>
        </div>
      </div>

      <!-- Return trip checkbox-->
      <div class="control-pair">
        <input
          type="checkbox"
          id="return"
          [(ngModel)]="tripData.returnTripActive"
        />
        <label for="return">{{ "planner.form.return" | translate }}</label>
      </div>

      <!-- Date and time picker for return trip time -->
      @if (tripData.returnTripActive) {
        <div class="datetime">
          <input type="date" />
          <input type="time" />
          <div>
            <div class="control-pair departure-radio">
              <input
                type="radio"
                id="departureReturn"
                name="time-select-return"
                value="departure"
                checked
              />
              <label for="departure">{{
                "planner.form.departureTime" | translate
              }}</label
              ><br />
            </div>
            <div class="control-pair">
              <input
                type="radio"
                id="arrivalReturn"
                name="time-select-return"
                value="arrival"
              />
              <label for="arrival">{{
                "planner.form.arrivalTime" | translate
              }}</label
              ><br />
            </div>
          </div>
        </div>
      }
    </div>

    <!-- Form submit button -->
    <div class="submit form-section">
      <button>{{ "planner.form.submit" | translate }}</button>
    </div>
  }
</div>
