/*
 * File: planner.component.css
 * Author: Adam Vcelar (xvcelaa00@stud.fit.vut.cz)
 *
 * CSS styles file for the planner component.
 */

:host {
  --p-inputnumber-button-width: 25px;
  --p-inputtext-background: var(--p-gray-800);
  --p-inputtext-color: var(--p-gray-400);
  --p-inputtext-border-color: var(--p-gray-700);
  --p-inputtext-disabled-background: var(--p-gray-900);
  --p-inputtext-disabled-color: var(--p-gray-800);
  --p-inputnumber-button-border-color: var(--p-gray-700);
  --p-inputtext-focus-border-color: var(--p-gray-500);
  --p-select-background: var(--p-gray-800);
  --p-select-border-color: var(--p-gray-700);
  --p-select-color: var(--p-gray-400);
  --p-select-overlay-background: var(--p-gray-800);
  --p-select-overlay-border-color: var(--p-gray-800);
  --p-select-overlay-color: var(--p-gray-400);
  --p-inputnumber-button-hover-background: var(--p-gray-400);
  --p-select-option-focus-color: var(--p-gray-300);
  --p-select-checkmark-color: var(--p-gray-300);
  --p-inputnumber-button-hover-border-color: var(--p-gray-700);
}

.cursor-image {
  position: fixed;     
  top: 0;
  left: 0;
  pointer-events: none;
  display: none;
}

.side-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.side-control-modules {
  width: 100%;
}

.btn-side-menu {
  width: 100%;
}

.setting-img {
  width: 25px;
}

.setting-img-mobile {
  height: 18px;
}

.number-input-div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.side-control-checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkbox-label-pair {
  display: flex;
  gap: 8px;
}

.main-components-wrapper {
  position: absolute;
  right: 0;
  z-index: 499;
  width: 350px;
}

.upload-btn {
  --p-button-primary-background: var(--p-gray-800);
  --p-button-primary-hover-background: var(--p-gray-800);
  --p-button-primary-border-color: var(--background);
  --p-button-primary-hover-border-color: var(--background);
}

.point-from-map-tooltip {
  position: absolute;
  z-index: 1001;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--p-gray-800);
  align-items: center;
  height: 70px;
  font-weight: 600;
}

.trip-header-wrapper {
  position: absolute;
  z-index: 1001;
  width: 100%;
  padding: 10px;
  background: var(--background);
  border: 2px solid var(--p-gray-800);
  font-weight: bold;
  color: var(--p-gray-300);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.horizontal-line {
  margin-left: -10px;
  margin-right: -10px;
  background-color: var(--p-gray-800);
  height: 2px;
  margin-bottom: -10px;
}

.back-to-detail-btn {
  background-color: var(--p-gray-800);
  border-radius: 5px;
  font-size: 13px;
  display: inline-flex;
  gap: 3px;
  align-items: center;
  padding: 5px;
  width: fit-content;
}

.side-control-selection-div {
  overflow: hidden;
  overflow-y: auto;
}

.side-control-content {
  width: fit-content;
  min-width: 0;
}

.side-control-selection-div {
  padding-right: 20px;
}

.side-control-select {
  max-width: fit-content;
}

.side-control-checkbox-head {
  color: var(--p-gray-400);
}

h3 {
  color: var(--p-gray-300);
}

.settings-unit {
  color: var(--p-gray-400);
}

.attribution {
  font-size: 12px;
  margin-left: 0.5em;
  color: var(--p-gray-400);
}

.attribution a {
  color: var(--p-gray-400);
}

@media only screen and (max-width: 700px) {
  .main-components-wrapper {
    width: 100%;
    max-height: calc(100% - 3em);
    z-index: 1000;
  }

  .side-control-content {
    width: 100vw;
    height: 100vh;
    margin-bottom: 3.5em;
  }

  .side-control-selection-div {
    max-width: 100vw;
    padding-bottom: 3.5em;
  }
}