/*
 * File: planner.component.css
 * Author: Adam Vcelar (xvcelaa00@stud.fit.vut.cz)
 *
 * CSS styles file for the planner component.
 */

.cursor-image {
  position: fixed;     
  top: 0;
  left: 0;
  pointer-events: none;
}

.side-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.side-control-modules {
  width: 100%;
}

.btn-side-menu {
  width: 100%;
}

.setting-img {
  width: 25px;
}

.setting-img-mobile {
  height: 18px;
}

.number-input-div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.side-control-checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkbox-label-pair {
  display: flex;
  gap: 8px;
}

.main-components-wrapper {
  position: absolute;
  right: 0;
  z-index: 499;
  width: 350px;
}

.upload-btn {
  --p-button-primary-background: var(--p-gray-800);
  --p-button-primary-hover-background: var(--p-gray-800);
  --p-button-primary-border-color: var(--background);
  --p-button-primary-hover-border-color: var(--background);
}

.point-from-map-tooltip {
  position: absolute;
  z-index: 1001;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--p-gray-800);
  align-items: center;
  height: 70px;
}

@media only screen and (max-width: 700px) {
  .main-components-wrapper {
    width: 100%;
    max-height: calc(100% - 3em);
    z-index: 1000;
  }

  .main {
    flex-direction: column;
    height: 100vh;
  }

  .mobile-header {
    position: relative;
  }

  .content {
    height: calc(100vh - 3em);
  }
}