@if (config.enabled) {
  <main class="main">
    <!-- Side menu -->
    <div class="side-control">

      <!-- Span with options from the side menu -->
      <span class="side-control-modules">

      </span>
    </div>

    <!-- Mobile menu -->
    <div class="mobile-header">

      <!-- Homepage navigation button -->
      <div class="mobile-header-item">
        <button type="button" class="mobile-btn-header" routerLink="/">
          <i class="pi pi-home"></i>
          <p class="mobile-btn-text">{{ 'common.mainMenu' | translate }}</p>
        </button>
      </div>
    </div>

    <!-- Mobile menu submenu -->
    @if (moduleFocus === -2) {
      <div class="mobile-submenu">

      </div>
    }

    <!-- Module content -->
    <div class="content">

      <!-- Trip input form component -->
      <trip-form (markerClick)="markerClick($event)"/>

      <!-- Map -->
      <map></map>

      <!-- Hidden images for the cursor when a trip point is being selected in the map -->
      <img
        #startCursor
        class="cursor-image"
        [src]="'./planner/start-marker.svg'"
      />
      <img
        #midpointCursor
        class="cursor-image"
        [src]="'./planner/midpoint-marker.svg'"
      />
      <img
        #endCursor
        class="cursor-image"
        [src]="'./planner/end-marker.svg'"
      />
    </div>
  </main>
}
