:root {
    --background: #0f0f11;
}

.btn-header {
    background-color: transparent;
    border: none;
    color: var(--gray-50);
    text-decoration: none;
    font-size: 1.75em;
    transition: .5s;
    line-height: 0;
    opacity: 0.5;
    padding: 0;
}

.btn-header:hover {
    transition: .5s;
    opacity: 1;
}

.pi {
    font-size: inherit;
}