<div class="zoom-div">
  <!-- Zoom In -->
  <button pButton type="button" class="btn-side-menu zoom-btn"
    (click)="mapService.zoomIn()">
    <i class="pi pi-search-plus"></i>
  </button>
  <!-- Zoom Out -->
  <button pButton type="button" class="btn-side-menu zoom-btn"
    (click)="mapService.zoomOut()">
    <i class="pi pi-search-minus"></i>
  </button>

  <!-- TODO temporary button to toggle theme during development -->
  <!-- Show only if the module that is using the map initializes themes -->
  @if (theme.themesEnabled) {
    <button (click)="theme.toggle()">Toggle theme</button>
  }
</div>
<!-- Main map div -->
<div id="map"></div>
<div class="legend-base-div">
  <!-- Object legend -->
  @if (enableLegend) {
    <span [innerHtml]="legendData"></span>
  }
  <!-- Delay categories legend -->
  @if (enableDelayCategories) {
    <span [innerHtml]="delayLegendData"></span>
  }
</div>